* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 150px;
    gap: 70px;
}
#left{
    height: 100%;
    width: 48%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
   
}

#left h1{
    /* font-size: 100px; */
    font-weight: 8.6vw;
    font-weight: 500;
    /* line-height: 100px; */
    line-height: 8.8vw;
    font-family: sans-serif;
}
#bottom-left{
    /* height: 40%; */
    width: 100%;
    /* background-color: yellow; */
}
#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
}
#color h5{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}
#color1{
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}
#color2{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    margin: 3px;
}

#left h2{
    margin-top: 50px;
    /* font-size: 30px; */
    font-size: 2vw;
    margin-bottom: 15px;
}
#left p{
    /* font-size: 20px; */
    font-size: 1.2vw;
    width: 65%;
    font-weight: 600;
    color: #444;
    line-height: 1.6vw;
}

#right{
    height: 90%;
    width: 33%; 
    /* background-color: blue; */
    position: relative;
}
#right-top{
    height: 80px;
    width: 100%;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

}
#right-top h4{
    font-size: 20px;
    font-weight: 500;
    font-family: serif;
}
#right-top h5{
    font-size: 16px;
}
#right-top h5 i{
    color: gold;
}
#right img{
    width: 100%;
    height: 87%;
    object-fit: cover;
    object-position: right;
}
#black-circle{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(44, 44, 48);
    color: #fff;
    border-radius: 50%;
    right: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24%;
}
#black-circle h5{
    font-size: 15px;
    font-weight: 500;
}
#rotated{
    position: absolute;
    left: -10%;
    /* background-color: red; */
    bottom: 5%;
    rotate: -90deg;
    transform-origin: 0 0;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width:600px) {
    #main{
        height: 100%;
        width: 100%;
        /* background-color: red; */
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 40px;
        padding-top: 40px;
        gap: 30px;
    }

    #left{
        height: fit-content;
        width: 100%;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 50px;
        gap: 40px;
       
    }
    
    #left h1{
        /* font-size: 100px; */
        font-weight: 18vw;
        font-weight: 500;
        /* line-height: 100px; */
        line-height: 10vw;
        font-family: sans-serif;
    }
    #bottom-left{
        /* height: 40%; */
        width: 100%;
        /* background-color: yellow; */
    }
    #color{
        /* background-color: blue; */
        width: fit-content;
        padding: 6px 12px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border-radius: 50px;
        border: 1px solid #000;
    }
    #color h5{
        font-size: 13px;
        margin-right: 5px;
        font-weight: 500;
    }
    #color1{
        height: 12px;
        width: 12px;
        background-color: burlywood;
        border-radius: 50%;
        margin: 3px;
    }
    #color2{
        height: 12px;
        width: 12px;
        background-color: brown;
        border-radius: 50%;
        margin: 3px;
    }
    
    #left h2{
        margin-top: 20px;
        /* font-size: 30px; */
        font-size: 3vw;
        margin-bottom: 8px;
    }
    #left p{
        /* font-size: 20px; */
        font-size: 3.2vw;
        width: 85%;
        font-weight: 600;
        color: #444;
        line-height: 3.6vw;
    }

    #right{
        height: 50%;
        width: 100%; 
        /* background-color: blue; */
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    #right-top{
        height: 60px;
        width: 100%;
        /* background-color: rebeccapurple; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 0px;
    
    }
    #right-top h4{
        font-size: 22px;
        font-weight: 500;
        font-family: serif;
    }
    #right-top h5{
        font-size: 15px;
    }
    #right-top h5 i{
        color: gold;
    }
    #right img{
        width: 100%;
        height: 87%;
        object-fit: cover;
        border-radius: 5px;
    }
    #black-circle{
        position: absolute;
        height: 80px;
        width: 80px;
        background-color: rgb(44, 44, 48);
        color: #fff;
        border-radius: 50%;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -5%;
        transform: translate(50%, -50%);
    }
    #black-circle h5{
        font-size: 12px;
        font-weight: 500;
    }
    #rotated{
        position: absolute;
        left: 0%;
        /* background-color: red; */
        top: -15%;
        rotate: 0deg;
        transform-origin: 0 0;
        font-size: 25px;
        font-weight: 600;
    }
}